<html>
<body>

<h2>Comunicado</h2>

<p>Voce esta recebendo esse email porque o seguinte chamado foi atribuido a voce: #<%= @ticket.id -%>.</p>

<p>Clique no seguinte link para visualizar o chamado:</p>

<p><%= ticket_url @ticket -%></p>

</body>
</html>